h1 {
    color:crimson
}
img {
    width: 400px
}
#thirdDiv {
    height: 600px; 
    width: 500px; 
    background-color:darkblue; 
    padding: 50px; 
    border: 5px dashed yellow;
}
#spanId {
    font-size: 25px; 
    margin: 50px;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVjB-iYVbU5dKToQ4AzVvsMKNUy3t4gXkZkmQUJ8KJHPjH2QVjnwhbu_unc0YpkqwVVpo&usqp=CAU");

}
.divClass {
padding: auto;
margin: auto;
}